.title{
  padding-top: 60px;
  color: black;
  padding-left: 40px;
  font-size: 50px;
  letter-spacing: 6px;
  font-weight: 500;
  text-align: center;

  padding: 9px;
margin-top: 40px;
color: #AC9850;
font-size: 60px;
letter-spacing: 7px;
margin-left: 25%;
margin-right: 25%;
}
